<mat-toolbar color="primary">
    <span>Internship Portal</span>
    <span class="example-spacer"></span>
        <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
        <a mat-button routerLink='/student-profile' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> External Internship Application</a>
        <a mat-button routerLink='/status-info-table' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> View Application Status</a>
        <a mat-button (click) = "logoutUser()"><span class="fa fa-list fa-lg"></span> Logout</a>
</mat-toolbar>