<app-header></app-header>
<div class="container" style="padding-top: 3%;">
    <div class="row">
        <div class="col-sm-4" style=" padding-top: 2%;">
            <mat-card class="mat-elevation-z8" style="width:100%; z-index:1;">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon style="color:linear-gradient(black,white); font-size:20px; vertical-align: bottom;">
                            perm_identity</mat-icon>
                        Profile
                    </mat-card-title>
                    <mat-card-subtitle>
                        Registration ID: {{id}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <br>
                    <h5>Student Information: <button mat-button style="margin-left:20%;">
                            <mat-icon style="color:indigo;">edit</mat-icon>
                        </button></h5>
                    <table class="table table-striped table-hover table-condensed">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{StudentName}}</td>
                            </tr>
                            <tr>
                                <td>Roll No:</td>
                                <td>{{StudentRollNo}}</td>
                            </tr>
                            <tr>
                                <td>Attendance:</td>
                                <td>{{StudentAttendance}}%</td>
                            </tr>
                            <tr>
                                <td>CGPA:</td>
                                <td>{{StudentCGPA}}</td>
                            </tr>
                            <tr>
                                <td>Department:</td>
                                <td>{{StudentDepartment}}</td>
                            </tr>
                            <tr>
                                <td>Class:</td>
                                <td>{{StudentClass}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{EmailId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8" style="z-index:0">
            <mat-card style="margin-left: +3%;">
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Details">
                            <br>
                            <div class="container">
                                <h5>External Internship Details:</h5>
                                <div class="container">
                                    <mat-form-field>
                                        <mat-label>Company</mat-label>
                                        <input matInput type="text" value="{{companyField}}" (input)="companyField=$event.target.value">
                                    </mat-form-field> &nbsp; &nbsp; &nbsp;

                                    <mat-form-field>
                                        <mat-label>Position</mat-label>
                                        <input matInput type="text" value="{{positionField}}" (input)="positionField=$event.target.value">
                                    </mat-form-field> <br>

                                    <mat-form-field [style.width.px]=140>
                                        <mat-label>Duration</mat-label>
                                        <input matInput type="text" class="center" value="{{durationField}}" (input)="durationField=$event.target.value">
                                    </mat-form-field> 
                                    <mat-label>weeks</mat-label> &nbsp; &nbsp; &nbsp;

                                    <mat-form-field>
                                        <mat-label>Stipend</mat-label>
                                        <input matInput type="text" value="{{stipendField}}" (input)="stipendField=$event.target.value">
                                    </mat-form-field> <br>

                                </div>
                                <mat-divider></mat-divider> <br>
                                <h5>Duration Details:</h5>
                                <div class="container">
                                    <mat-form-field>
                                        <mat-label>Start Date</mat-label>
                                        <input matInput type="date" value="{{startDateField}}" (input)="startDateField=$event.target.value">
                                    </mat-form-field> &nbsp; &nbsp; &nbsp;

                                    <mat-form-field>
                                        <mat-label>End Date</mat-label>
                                        <input matInput type="date" value="{{endDateField}}" (input)="endDateField=$event.target.value">
                                    </mat-form-field>
                                </div>
                                <mat-divider></mat-divider> <br>
                                <h5>Additional Details:</h5>
                                <div class="container">
                                    <mat-form-field appearance="outline" style="width:620px;">
                                        <textarea matInput type="text" value="{{additionalDetailsField}}" style="height: 60px;" (input)="additionalDetailsField=$event.target.value"></textarea>
                                    </mat-form-field> &nbsp; &nbsp; &nbsp;
                                </div>
                                <mat-divider></mat-divider> <br>
                            </div>
                        </mat-tab>
                        <mat-tab label="Attach Offer Letter">
                            <br>
                            <input type="file" placeholder="Upload Offer Letter" id="file" (change)="handleFileInput($event.target.files)">
                            <br><br>
                            <div align="center">
                                <button type="Submit" mat-raised-button color="primary" (click) = "submitDetails()">Submit Application</button>
                            </div>
                        </mat-tab>
                        <mat-tab disabled></mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

