<div class="container" style="width:800px; padding-top: 2%;">
    <div class="container" align="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Please Enter Your Information
                </mat-card-title>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <br><br>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>First Name</mat-label>
                <input matInput type="text" value="{{firstNameField}}" (input)="firstNameField=$event.target.value">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" value="{{lastNameField}}" (input)="lastNameField=$event.target.value">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Roll Number</mat-label>
                <input matInput type="text" value="{{rollNumberField}}" (input)="rollNumberField=$event.target.value">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Department</mat-label>
                <input matInput type="text" value="{{departmentField}}" (input)="departmentField=$event.target.value">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Year</mat-label>
                <input matInput type="text" value="{{yearField}}" (input)="yearField=$event.target.value">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Division</mat-label>
                <input matInput type="text" value="{{divisionField}}" (input)="divisionField=$event.target.value">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Attendance</mat-label>
                <input matInput type="text" value="{{attendanceField}}" (input)="attendanceField=$event.target.value">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>CGPA</mat-label>
                <input matInput type="text" value="{{CGPAField}}" (input)="CGPAField=$event.target.value">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Email</mat-label>
                <input matInput type="email" value="{{emailField}}" (input)="emailField=$event.target.value">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="CreateProfile()">Next</button>
        </mat-card>
    </div>
</div>